<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJS</title>


</head>

<body>
    <div id="app">
        ##ini merupakan Pesan v-once
        <p v-once> {{ message }}</p>
        <!-- v-once mempertahankan inisiasi awal -->
        ##ini merupakan pesan tanpa v-once
        <p> {{ message }}</p>
        <!-- v-html menjalankan Running Code HTML -->
        ##ini merupakan Pesan v-html
        <h2 v-html='pesan'></h2>
    </div>
    <div id="belajar">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello Fataa!',
                pesan: '<span style="color: brown;">Hallo Juga!</span>'
            }
        })
    </script>
</body>

</html>