<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue</title>
</head>

<body>
    <div id="belajar">
        <p> {{'Pesan : '+ message }} </p>
        <p> {{'Jumlah : '+( number * 27 ) +' Rakaat' }} </p>
        <p> {{'Test : ' + (test ? 'YES' : 'NO') }} </p>
        <p> {{'Membalikan Kata : ' + message.split('').reverse().join('')}} </p>
        <!-- Tidak boleh Statement -->
        <!-- <p> {{ var angka = 1}} </p> -->
        <!-- <p>
            {{ for(let index =0; index < array.length; index++){ 
                const element=array[index]; 
                } 
            }} 
        </p> -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#belajar',
            data: {
                message: 'Jangan Lupa Sholat',
                number: '1',
                test: false,
                Array: [1, 2, 3]
            }
        })
    </script>
</body>

</html>