<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJS 5</title>
</head>

<body>
    <div class="belajar">
        Penggunaan Template
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var template = `
        <div>
            <h1> {{pesan}} </h1>
            <h2>- {{author}} -</h2>
        </div>`

        var vm = new Vue({
            el: '.belajar',
            data: {
                author: "Fataa",
                pesan: "Jangan Lupa Mandi"
            },
            template: template

        })
    </script>
</body>

</html>