<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJS</title>


</head>

<body>
    <div id="app">
        {{ fullname }}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                firstname: 'Muhammad',
                middlename: 'Aura',
                lastname: 'Al-Fataa'
            },
            computed: {
                // fullname: function() {
                //     return ` ${this.firstname} ${this.middlename} ${this.lastname} `
                // }
                fullname: {
                    get: function() {
                        return ` ${this.firstname} ${this.middlename} ${this.lastname} `
                    },
                    set: function(params) {
                        let arr = params.split(' ')
                        this.firstname = arr[0]
                        this.middlename = arr[1]
                        this.lastname = arr[2]


                    }
                }
            }
        })
    </script>
</body>

</html>