<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJS</title>


</head>

<body>
    <div id="app">
        <button onclick="vm.d(1)">ClicMe</button> {{ a }}
        <br>

        <div>
            <button onclick="vm.notif(vm.pesan)">Selesai</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 1,
                pesan: "Terimakasih Fataa"
            },
            computed: {
                b() {
                    return this.a + 1;
                }
            },
            methods: {
                c(number) {
                    return this.a + number
                },
                d(number) {
                    this.a = this.a + number
                },
                notif(param) {
                    alert(param)
                }

            }
        })
    </script>
</body>

</html>