<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJS</title>


</head>

<body>
    <div id="app">
        <p>{{ message }}</p>
        <p><input type="text" value="{{message}}"></p>
        <p><input type="text" v-bind:value="pesan"></p>
        <p><input type="text" :value="pesan2"></p>
        <p><input type="text" v-model:value="message"></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                pesan: 'v-bind tidak terpengaruh',
                pesan2: 'Shorthand VBIND'
            }
        })
    </script>
</body>

</html>