<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.OpenForm()">Open Form</button>
      <h1>{{'Nilai a : ' + a}}</h1>
      <h1>{{ 'Rata rata : ' + r }}</h1>
      <button onclick="vm.Reset()">Clear</button>
      <p v-if="seen">Now you see me</p>
      <!-- Jika seen bernilai true maka akan ditampilkan, jika false sebaliknya -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          r: 0,
          i: 0,
          seen: false,
        },
        methods: {
          OpenForm: function () {
            var count = 0;
            while (this.a < 10) {
              this.a = this.a + parseInt(prompt("Inputkan Nilai a"));
              count++;
            }
            this.r = this.a / count;
            count = 0;
          },
          Reset: function () {
            this.a = 0;
            this.r = 0;
          },
        },
      });
    </script>
  </body>
</html>
