<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeCycle Vue</title>
</head>

<body>
    <div id="app"></div>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            template: '<div id="new-template">{{ data }}</div>',
            data() {
                return {
                    data: 'vue data'
                }
            },
            beforeMount() {
                console.log(document.getElementById('new-template'))
                    // null, template id 'new-template' tidak belum di render
            },
            mounted() {
                console.log(document.getElementById('new-template'))
                    // template id 'new-template' di kenali
            }
        });
    </script>
</body>

</html>