<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeCycle Vue</title>
</head>

<body>
    <div id="app"></div>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            template: `
    <button @click="reRenderDom">render dom!</button>
    <div v-if="renderDom">
      <div id="debug">Dom already rendered! <span style="color: red; "@click="removeDom">remove dom!</span></div>
    </div>
  `,
            data() {
                return {
                    renderDom: 0
                }
            },
            updated() {
                console.log('check updated data', this.renderDom)
                    // hasilnya 1, this.renderDom berhasil di update
                console.log('check updated re-render', document.getElementById('debug'))
                    // template id 'debug' di kenali
            },
            methods: {
                reRenderDom() {
                    this.renderDom = 1
                },
                removeDom() {
                    this.renderDom = 0
                }
            }
        });
    </script>
</body>

</html>