<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DForm Input Data Binding</title>
</head>

<body>
    <div id="app">
        <form>
            <table style="width: 1200px;">
                <tbody>
                    <tr>
                        <td>
                            <h3>Inputan dengan v-bind</h3>
                            <hr><input type="text" name="name" v-bind:value="name">
                            <p>{{ name }} </p>
                        </td>
                        <td>
                            <h3>Inputan dengan v-on</h3>
                            <hr><input type="text" name="name2" v-bind:value="name2" v-on:input="name2= $event.target.value">
                            <p>{{ name2 }} </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Inputan dengan v-model</h3>
                            <hr><input type="text" name="name3" v-model:value="name3">
                            <p>{{ name3 }} </p>
                        </td>
                        <td>
                            <h3>Inputan memberi Pesan</h3>
                            <hr>
                            <input type="text" v-model="message" placeholder="Isi Pesan ">
                            <p>Pesan : {{message}} </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Single checkbox</h3>
                            <hr>
                            <input type="checkbox" id="checkbox" v-model="checked">
                            <label for="checkbox">{{ checked }}</label>
                            <p v-if="checked">diCeklist</p>
                            <p v-else>Tidak diCeklist</p>
                        </td>
                        <td>
                            <h3>Multiple checkbox</h3>
                            <hr>
                            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
                            <label for="jack">Jack</label>
                            <input type="checkbox" id="john" value="John" v-model="checkedNames">
                            <label for="john">John</label>
                            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
                            <label for="mike">Mike</label>
                            <br>
                            <p>Checked names: {{ checkedNames }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Radio Button</h3>
                            <hr>
                            <input type="radio" id="one" value="One" v-model="picked">
                            <label for="one">One</label>

                            <input type="radio" id="two" value="Two" v-model="picked">
                            <label for="two">Two</label>

                            <p>Picked: {{ picked }}</p>
                        </td>
                        <td>
                            <h3>Single Selected</h3>
                            <hr>
                            <select v-model="selected">
                                <option disabled value="">Please select one</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                            <p>Selected: {{ selected }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Multiple Selected (Dijadikan Array)</h3>
                            <hr>
                            <select v-model="selectedM" multiple>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                            </select>
                            <label for="selectedM">Selected : {{selectedM}} </label>
                        </td>
                        <td>
                            <h3>Selected mengambil dari Array (v-for)</h3>
                            <hr>
                            <select v-model="selectedA">
                            <option disabled value="">Please select one</option>
                            <option v-for="item in options" v-bind:value="item.value">
                                <!-- seharusnya tulisan option in options, options plural , option tunggal
                                seharusnya tulisannya seperti itu-->
                                {{ item.text }}
                            </option>
                            </select>
                            <p>Selected: {{ selectedA }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <h3>Multiline message is: (Bisa Turun Baris)</h3>
                            <hr>
                            <textarea v-model="messages" placeholder="add multiple lines"></textarea>
                            <p style="white-space: pre-line;">{{ messages }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                name: "Muhammad Aura Al Fataa",
                name2: "Aura",
                name3: "AlFataa",
                message: "",
                messages: "",
                checked: false,
                checkedNames: [],
                picked: "",
                selected: "",
                selectedM: [],
                selectedA: "",
                options: [{
                    text: "One",
                    value: "A"
                }, {
                    text: "Two",
                    value: "B"
                }, {
                    text: "Three",
                    value: "C"
                }]
            }
        });
    </script>
</body>

</html>