<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier</title>

</head>

<body>
    <div id="app">
        <h3>v-model Biasa</h3>
        <hr>
        <input type="text" v-model:value="message">
        <p> {{ message }} </p>
        <br>
        <h3>v-model dengan lazy : v-model.lazy (Setelah melakukan Event lain baru muncul)</h3>
        <hr>
        <input v-model.lazy="msgl">
        <p> {{ msgl }} </p>
        <br>
        <h3>v-model dengan number : v-model.number (Data langsung bertipe data Number / float jika ada koma)</h3>
        <hr>
        <input v-model.number="age" type="number">
        <p> {{ age }} </p>
        <br>
        <h3>v-model dengan trim : v-model.trim (Menghapus Spasi di awal dan diakhir)</h3>
        <hr>
        <input v-model.trim="msgt">
        <p> {{ msgt }} </p>
        <br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                message: '',
                msgl: '',
                age: null,
                msgt: ''
            }
        });
    </script>

</body>

</html>