<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Submit </title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5;
            width: 255px;
            background: #efefef;
            margin: auto;
        }
        
        label {
            display: block;
            margin: 10px 10px;
        }
        
        input,
        textarea {
            margin: 10px 20px;
            min-width: 200px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="submitForm($event)">
            <label for="title">Title : {{title}}</label>
            <input type="text" placeholder="Input Title" name="title" v-model="title">
            <label for="deskripsi">Deskripsi : {{deskripsi}}</label>
            <textarea name="deskripsi" placeholder="Input Deskripsi" v-model="deskripsi"></textarea>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: "",
                deskripsi: ""
            },
            methods: {
                submitForm: function() {
                    console.log(`Title : ${this.title}`)
                    console.log(`Deskripsi : ${this.deskripsi}`)
                        // untuk Reset
                    this.title = '';
                    this.deskripsi = '';

                }
            }

        });
    </script>

</body>

</html>