<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Submit </title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 10;
            width: 500px;
            background: #efefef;
            margin: auto;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        label {
            display: block;
            margin: 10px 25%;
        }
        
        input,
        textarea {
            margin: 10px 25%;
            min-width: 250px;
        }
        
        p,
        li {
            margin: 10px 20%;
            min-width: 250px;
        }
        
        #title {
            margin-top: 20px;
        }
        
        #submit {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="submitForm($event)">
            <p v-if="errors.length">
                <b>Tolong Ikuti Instruksi dibawah</b>
                <li v-for="error in errors">
                    {{error}}
                </li>
            </p>
            <label for="title" id="title">Title :</label>
            <input type="text" name="title" placeholder="Input Title" ref="title" v-model="title">
            <label for="deskripsi">Deskripsi :</label>
            <textarea name="deskripsi" placeholder="Input Deskripsi" ref="deskripsi" v-model="deskripsi"></textarea>
            <input type="submit" value="SUBMIT" id="submit">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: "",
                deskripsi: "",
                errors: []
            },
            methods: {
                submitForm: function() {
                    this.errors = []
                    if (this.title.length < 5) {
                        this.errors.push('Jumlah Karakter Title kurang dari 5')
                        this.$refs.title.focus()

                    }
                    if (this.deskripsi.length > 200) {
                        this.errors.push('Jumlah Karakter Deskripsi lebih dari 200')
                        this.$refs.deskripsi.focus()
                    }
                    if (this.errors.length === 0) {
                        alert('Terimakasih Data sudah di Submit')
                        console.log(`Title : ${this.title}`)
                        console.log(`Deskripsi : ${this.deskripsi}`)
                            // untuk Reset
                        this.title = '';
                        this.deskripsi = '';
                    }

                }
            }

        });
    </script>

</body>

</html>